<p>
  portal works!
</p>

<!-- <button routerLink="findbaby">FindBaby</button>
<button routerLink="findsitter">FindSitter</button> -->
<button mat-stroked-button routerLink="findbaby" color="primary">Find Baby</button>
<button mat-stroked-button routerLink="findsitter" id="findsitterId" color="primary">Find Sitter</button>

<!-- TEST -->
<!-- <button mat-stroked-button routerLink="/home/register/registersitter" id="registerSitterTestId" color="primary" hidden>TEST</button> -->
<!-- <button routerLink="/home/register/registersitter" id="registerSitterTestId" hidden>TEST</button> -->
<router-outlet></router-outlet>