<p>
  findsitter works!
</p>

<!-- OLD -->
<!-- <mat-card *ngFor="let sitter of tempData.sitters" class="example-card" id="testLoop">
  <app-displaysitter [sitter]="sitter" 
    (sitterEditClicked)="onSitterEditClicked($event)">
  </app-displaysitter>
</mat-card> -->


<!--OLD 2-->
<!-- <mat-card *ngFor="let sitter of sitters; let i = index" class="example-card" id="testLoop">
  <app-displaysitter [sitter]="sitter" 
    (sitterEditClicked)="onSitterEditClicked($event, index)"> 
  </app-displaysitter>
</mat-card> -->


<mat-card *ngFor="let sitter of sitters; let i = index" class="example-card" id="testLoop">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{sitter.name}}</mat-card-title>
    <mat-card-subtitle>Baby Sitter</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul *ngIf="!adminUser" id="testLoop2"> 
      <li><strong>Female :</strong> {{sitter.female}}</li>
      <li><strong>Birthdate :</strong> {{sitter.birthDate}}</li>
      <li><strong>No Criminal Record :</strong> {{sitter.noCriminalRecord}}</li>
      <li><strong>No Child Record :</strong> {{sitter.noChildRecord}}</li>
      <li><strong>Hourly Wage :</strong> {{sitter.hourlyWage}} </li>
      <li><strong>Address :</strong> {{sitter.address}}</li>
      <li><strong>Zip Code :</strong> {{sitter.zipCode}}</li>
      <li><strong>City :</strong> {{sitter.city}}</li>
    </ul>

    <!-- Write input fields? -->
    <!-- <ul *ngIf="isAdmin" id="testLoop2"> 
      <li>Female : {{sitter.female}}</li>
      <li>Birthdate : {{sitter.birthDate}}</li>
      <li>No Criminal Record : {{sitter.noCriminalRecord}}</li>
      <li>No Child Record : {{sitter.noChildRecord}}</li>
      <li>Hourly Wage : {{sitter.hourlyWage}} </li>
      <li>Address : {{sitter.address}}</li>
      <li>Zip Code : {{sitter.zipCode}}</li>
      <li>City : {{sitter.city}}</li> -->
      <!-- <app-edit-sitter></app-edit-sitter> -->
    <!-- </ul> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>RATE</button>
    <!-- <div *ngIf="isAdmin"> -->
        <button mat-button (click)="onSitterEditClicked(sitter._id)">EDIT</button>
        <button mat-button (click)="onSitterDeleteClicked(sitter._id)">DELETE</button>
    <!-- </div> -->
  </mat-card-actions>
</mat-card>
