<h2>
  Find a Sitter
</h2>

<!-- OLD -->
<!-- <mat-card *ngFor="let sitter of tempData.sitters" class="example-card" id="testLoop">
  <app-displaysitter [sitter]="sitter" 
    (sitterEditClicked)="onSitterEditClicked($event)">
  </app-displaysitter>
</mat-card> -->


<!--OLD 2-->
<!-- <mat-card *ngFor="let sitter of sitters; let i = index" class="example-card" id="testLoop">
  <app-displaysitter [sitter]="sitter" 
    (sitterEditClicked)="onSitterEditClicked($event, index)"> 
  </app-displaysitter>
</mat-card> -->


<div class="search">
  <mat-form-field>
    <!-- [(ngModel)] is two way data binding -->
    <input matInput placeholder="Search sitters" [(ngModel)]="search">
  </mat-form-field>
</div>

<mat-card *ngFor="let sitter of sitters | filterSitters: search" class="example-card" id="testLoop">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{sitter.name}}</mat-card-title>
    <mat-card-subtitle>Baby Sitter</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul id="testLoop2"> 
      <li><strong>Gender :</strong> {{sitter.female | genderFilter}}</li>
      <!-- FILTER: | date | lowercase -->
      <li><strong>Birthdate :</strong> {{sitter.birthDate | date}}</li>
      <strong style="color:red">{{sitter.noCriminalRecord | criminalRecordFilter}}</strong>
      <strong style="color:red">{{sitter.noChildRecord | childRecordFilter}}</strong>
      <!-- FILTER: | currency-->
      <li><strong>Hourly Wage :</strong> {{sitter.hourlyWage | currency:'DKK'}} </li>
      <li><strong>Address :</strong> {{sitter.address}}</li>
      <li><strong>Zip Code :</strong> {{sitter.zipCode}}</li>
      <li><strong>City :</strong> {{sitter.city}}</li>
    </ul>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>RATE</button>
    <div *ngIf="isAdmin">
        <button mat-button (click)="onSitterEditClicked(sitter._id)">EDIT</button>
        <button id="deleteId" mat-button (click)="onSitterDeleteClicked(sitter._id)">DELETE</button>
    </div>
  </mat-card-actions>
</mat-card>

<div *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</div>