<mat-toolbar color="primary">
  <span>FindASitter</span>
  <!-- <button mat-stroked-button routerLink="home" id="homeId" color="primary">Home</button>
  <button mat-stroked-button routerLink="portal" id="portalId" color="primary">Portal</button> -->
</mat-toolbar>

<button mat-stroked-button routerLink="home" id="homeId" color="primary">Home</button>
<button mat-stroked-button routerLink="portal" id="portalId" color="primary">Portal</button>

<h1>
  Welcome to {{ title }}!
</h1>

<!-- ??? -->
<router-outlet></router-outlet>
